<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item>
    <ion-title style="padding-left:20px">Resistance's List</ion-title>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div style="background: url('/assets/img/background4.png')" class="container-login100">
      <div style="background: url('/assets/img/background2.png')" class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
        <br>
        <!--Titol principal-->
        <span class="login100-form-title">
		Resistance's List
        </span>
        <br>
        <!--Si la variable llista es diferent a Null, mostrem els titols de les columnes-->
        <ion-list-header *ngIf="llista" >
          <ion-label style="padding-left:20px">Resistance</ion-label>
          <ion-label style="padding-right:70px">Value [kΩ] </ion-label>
          <ion-label>Description</ion-label>
          <ion-label>Assigned</ion-label>
          <ion-label></ion-label>
        </ion-list-header>
          <ion-list *ngFor="let resistance of llista" style="background: url('/assets/img/background2.png')">
            <ion-item>
              <ion-label>{{resistance.name}}</ion-label>
              <ion-label style="padding-left:40px">{{resistance.value}}</ion-label>
              <ion-label class="ion-text-wrap">{{resistance.description}}</ion-label>
              <ion-label style="padding-left:90px">{{resistance.assigned}}</ion-label>
            </ion-item>
          </ion-list>
        <br>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <ion-button icon-left size="medium" expand="full" shape="round" color="dark"  (click)="order()" tappable>
              <ion-icon size="large" ios="ios-reorder" md="md-reorder"></ion-icon>
              Order Resistances by Values
            </ion-button>
            </div>
         </div>
         <br>
      </div>
    </div>
    <ion-fab vertical="top" horizontal="left" slot="fixed" (click)="refresh()">
      <ion-fab-button color="dark">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
  </div>
</ion-content>

