<ion-header>
  <ion-toolbar>
    <ion-title style="padding-left:20px">Measurement Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="station-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div style="background: url('/assets/img/background4.png')" class="container-login100">
      <div style="background: url('/assets/img/background2.png')" class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
        <br>
        <!--Titol principal-->
        <span class="login100-form-title">
          "{{measurementName}}" Current Resistances:
        </span>
        <br>
        <ion-list-header *ngIf="resistancesMeasurement" >
          <ion-label>Resistance</ion-label>
          <ion-label>Value</ion-label>
          <ion-label>Description</ion-label>
          <ion-label></ion-label>
          <ion-label></ion-label>
          <ion-label></ion-label>
        </ion-list-header>
        <div *ngIf="resistancesMeasurement">
          <ion-list *ngFor="let resistance of resistancesMeasurement.resistances" style="background: url('/assets/img/background2.png')">
            <ion-item>
              <ion-label>{{resistance.name}}</ion-label>
              <ion-label>{{resistance.value}}</ion-label>
              <ion-label class="ion-text-wrap">{{resistance.description}}</ion-label>
              <ion-label></ion-label>
              <ion-button class="list-buttons1" color="danger" (click)="botoDesAsignar(resistance._id)" >
                <ion-label style="padding-left:7px">Unassign from Measurement</ion-label>
                <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
        <ion-label *ngIf="resistancesMeasurement==false">There is not any resistance assigned to the measurement: {{measurementName}}</ion-label>
        <br>
        <br>
        <span class="login100-form-title">
          Resistances ready to assign:
        </span>
        <br>
        <ion-list-header *ngIf="unnasignedResistances" >
          <ion-label>Resistance</ion-label>
          <ion-label>Value</ion-label>
          <ion-label>Description</ion-label>
          <ion-label></ion-label>
          <ion-label></ion-label>
          <ion-label></ion-label>
        </ion-list-header>
        <div *ngIf="unnasignedResistances">
          <ion-list *ngFor="let resistance of unnasignedResistances" style="background: url('/assets/img/background2.png')">
            <ion-item>
              <ion-label>{{resistance.name}}</ion-label>
              <ion-label>{{resistance.value}}</ion-label>
              <ion-label class="ion-text-wrap">{{resistance.description}}</ion-label>
              <ion-button class="list-buttons2"  color="success"(click)="botoAsignar(resistance._id)" >
                <ion-label style="padding-left:7px" >Assign to the Measurement</ion-label>
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
        <ion-label *ngIf="unnasignedResistances==false">There is not any resistance ready to assign</ion-label>
        <br>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
  </div>
</ion-content>

