<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-left:20px">Calculate time of measurements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div style="background: url('/assets/img/background4.png')" class="container-login100">
      <div style="background: url('/assets/img/background2.png')" class="wrap-login100 p-l-50 p-r-50 p-t-40 p-b-15">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-49">
            Calculate time of the measurements
          </span>
          <form [formGroup]="Form">

            <ion-list>
              <ion-item>
                <ion-icon name="logo-buffer" item-start></ion-icon>
                <ion-label stacked>Number of rows:</ion-label>
                <ion-input formControlName="measRow" type="number" min="0" max="200" placeholder="# Rows"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="copy" item-start></ion-icon>
                <ion-label stacked>Number of columns:</ion-label>
                <ion-input formControlName="measCol" type="number" min="0" max="1000" placeholder="# Columns"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="timer" item-start></ion-icon>
                <ion-label stacked>Measurements per second:</ion-label>
                <ion-input formControlName="measSec" type="number" min="0" placeholder="Meas/sec"></ion-input>
              </ion-item>
            </ion-list>
          </form>
          <br>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <ion-button icon-left size="medium" expand="full" shape="round" color="dark"	(click)="calculateTime()"
                          [disabled]="Form.invalid"  [style.backgroundColor]="enable ? '#00CC00' : '#FF0000'">
                <ion-icon  style="padding-right:15px" size="large" ios="ios-calculator-outline" md="md-calculator"></ion-icon>
                Calculate the time for the measurement
              </ion-button>
            </div>
          </div>

          <br>
          <!--Si la variable llista es diferent a Null, mostrem els titols de les columnes-->
          <ion-list-header>
            <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" text-center>Number of Rows</ion-label>
            <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" text-center>Number of Colums </ion-label>
            <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" text-center>Measurements per second</ion-label>
            <ion-label></ion-label>
          </ion-list-header>
          <ion-list style="background: url('/assets/img/background2.png') ">
            <ion-item>
              <ion-label> {{measRow | number : '1.0-2'}} </ion-label>
              <ion-label>{{measCol | number : '1.0-2'}}</ion-label>
              <ion-label>{{measSec | number : '1.0-2'}}</ion-label>
              </ion-item>
          </ion-list>

          <br>
          <!--Si la variable llista es diferent a Null, mostrem els titols de les columnes-->
          <ion-list-header>
            <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" text-center>Total measurements</ion-label>
            <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" text-center>Total time for the measurements [sec]</ion-label>
            <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" text-center>Total time for the measurements [min]</ion-label>
            <ion-label></ion-label>
          </ion-list-header>
          <ion-list style="background: url('/assets/img/background2.png') ">
            <ion-item >
              <ion-label class="ion-text-wrap p-l-5 p-r-20 p-t-5 p-b-0" style="margin: 10px"> {{measTotal | number : '1.0-3'}}</ion-label>
              <ion-label class="ion-text-wrap p-l-15 p-r-0 p-t-5 p-b-0" style="margin: 10px">{{measTimeSec | number : '1.0-2'}}</ion-label>
              <ion-label class="ion-text-wrap p-l-5 p-r-5 p-t-5 p-b-0" text-center style="margin: 10px">{{measTimeMin | number : '1.0-2'}}</ion-label>
            </ion-item>
          </ion-list>

        </form>


        <br>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.form">
            <div class="alert alert-danger" *ngIf="Form.get('measRow').hasError(validation.type) && (Form.get('measRow').dirty || Form.get('measRow').touched)">
              <ion-label color="danger">{{validation.message}}</ion-label>
            </div>
            <div class="alert alert-danger" *ngIf="Form.get('measCol').hasError(validation.type) && (Form.get('measCol').dirty || Form.get('measCol').touched)">
              <ion-label color="danger">{{validation.message}}</ion-label>
            </div>
            <div class="alert alert-danger" *ngIf="Form.get('measSec').hasError(validation.type) && (Form.get('measSec').dirty || Form.get('measSec').touched)">
              <ion-label color="danger">{{validation.message}}</ion-label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>


