<!-- insertar aqui menu heypey-->


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-left:20px">Measurement List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div style="background: url('/assets/img/background4.png')" class="container-login100">
      <div style="background: url('/assets/img/background2.png')" class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
        <br>
        <!--Titol principal-->
        <span class="login100-form-title">
		Measurement List
        </span>
        <br>
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionChange)="filterItems()"
        ></ion-searchbar>
        <br>
        <!--Si la variable llista es diferent a Null, mostrem els titols de les columnes-->
        <ion-list-header *ngIf="llista" >
          <ion-label style="padding-left:20px">   Name</ion-label>
          <ion-label style="padding-left:60px">   State</ion-label>
          <ion-label style="padding-left:80px">   Description</ion-label>
          <ion-label></ion-label>
          <ion-label></ion-label>
        </ion-list-header>
        <ion-list *ngFor="let element of llista" style="background: url('/assets/img/background2.png')">
          <ion-item>
            <ion-label>{{element.name}}</ion-label>
            <ion-label>{{element.state}}</ion-label>
            <ion-label>{{element.description}}</ion-label>
            <ion-button class="list-buttons" shape="round" expand="full" color="dark" (click)="botoLlista(element._id, element.name)" >
              <ion-label style="padding-left:7px; padding-right:3px">  State </ion-label>
              <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <br>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <ion-button icon-left size="medium" expand="full" shape="round" color="dark"  (click)="order()" tappable>
              <ion-icon size="large" ios="ios-reorder" md="md-reorder"></ion-icon>
              Alphabetically Order
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <ion-fab vertical="top" horizontal="left" slot="fixed" (click)="refresh()">
      <ion-fab-button color="dark">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
  </div>
</ion-content>

